.table-fixed {
    display: block; /* 縦横幅指定可 */
    white-space: nowrap; /* 折り返さない */
    table-layout: fixed; /* 固定レイアウト */
    overflow-x: scroll; /* 超過分横スクロール */
}

.px-width-50 {
    width: 50px;
}
.px-min-width-50 {
    min-width: 50px;
}
.px-width-100 {
    width: 100px;
}
.px-min-width-100 {
    min-width: 100px;
}
.px-width-150 {
    width: 150px;
}
.px-min-width-150 {
    min-width: 150px;
}
.px-width-200 {
    width: 200px;
}
.px-min-width-200 {
    min-width: 200px;
}
.px-width-250 {
    width: 250px;
}
.px-min-width-250 {
    min-width: 250px;
}
.px-width-300 {
    width: 300px;
}
.px-min-width-300 {
    min-width: 300px;
}
.px-width-350 {
    width: 350px;
}
.px-min-width-350 {
    min-width: 350px;
}
.px-width-400 {
    width: 400px;
}
.px-min-width-400 {
    min-width: 400px;
}
.px-width-450 {
    width: 450px;
}
.px-min-width-450 {
    min-width: 450px;
}
.px-width-500 {
    width: 500px;
}
.px-min-width-500 {
    min-width: 500px;
}
.px-width-550 {
    width: 550px;
}
.px-min-width-550 {
    min-width: 550px;
}
.px-width-600 {
    width: 600px;
}
.px-min-width-600 {
    min-width: 600px;
}
.px-width-650 {
    width: 650px;
}
.px-min-width-650 {
    min-width: 650px;
}
.px-width-700 {
    width: 700px;
}
.px-min-width-700 {
    min-width: 700px;
}
.px-width-750 {
    width: 750px;
}
.px-min-width-750 {
    min-width: 750px;
}
.px-width-800 {
    width: 800px;
}
.px-min-width-800 {
    min-width: 800px;
}
.px-width-850 {
    width: 850px;
}
.px-min-width-850 {
    min-width: 850px;
}
.px-width-900 {
    width: 900px;
}
.px-min-width-900 {
    min-width: 900px;
}
.px-width-950 {
    width: 950px;
}
.px-min-width-950 {
    min-width: 950px;
}
.px-width-1000 {
    width: 1000px;
}
.px-min-width-1000 {
    min-width: 1000px;
}
